In [130]:
import pandas as pd
import matplotlib.pyplot as plt
import random
import numpy as np

In [131]:
df1 = pd.read_csv("../dutch-energy/Electricity/enexis_electricity_01012010.csv")
df1['year'] = '2010'
df2 = pd.read_csv("../dutch-energy/Electricity/enexis_electricity_01012012.csv")
df2['year'] = '2012'
df3 = pd.read_csv("../dutch-energy/Electricity/enexis_electricity_01012015.csv")
df3['year'] = '2015'
df4 = pd.read_csv("../dutch-energy/Electricity/enexis_electricity_01012018.csv")
df4['year'] = '2018'
df = pd.concat([df1,df2,df3,df4])

In [132]:
Ten = df.loc[(df['city']=='GRONINGEN')&(df['year']=='2010'),'annual_consume']
Twelve = df.loc[(df['city']=='GRONINGEN')&(df['year']=='2012'),'annual_consume']
Fifteen = df.loc[(df['city']=='GRONINGEN')&(df['year']=='2015'), 'annual_consume']
Eighteen = df.loc[(df['city']=='GRONINGEN')&(df['year']=='2018'), 'annual_consume']

Ten = Ten.reset_index(drop=True)
Twelve = Twelve.reset_index(drop=True)
Fifteen = Fifteen.reset_index(drop=True)
Eighteen = Eighteen.reset_index(drop=True)

In [133]:
Eighteen.describe()

count     4671.000000
mean      3444.931768
std       3588.496734
min        752.750000
25%       1924.515000
50%       2557.000000
75%       3363.080000
max      46174.300000
Name: annual_consume, dtype: float64

In [134]:
First = pd.DataFrame()
for n in range(3000):
    i = random.randint(1, 4000)
    diff = pd.DataFrame({'delta':Eighteen[i] - Ten[i]}, index=[i])
    First = pd.concat([First, diff])    
Second = pd.DataFrame()
for n in range(3000):
    i = random.randint(0, 4000)
    diff = pd.DataFrame({'delta':Twelve[i] - Ten[i]}, index=[i])
    Second = pd.concat([Second, diff])
Third = pd.DataFrame()
for n in range(3000):
    i = random.randint(0, 4000)
    diff = pd.DataFrame({'delta':Fifteen[i] - Twelve[i]}, index=[i])
    Third = pd.concat([Third, diff])  
Fourth = pd.DataFrame()
for n in range(3000):
    i = random.randint(0, 4000)
    diff = pd.DataFrame({'delta':Eighteen[i] - Fifteen[i]}, index=[i])
    Fourth = pd.concat([Third, diff])

In [135]:
First = First.reset_index()
First = First.rename(index=str, columns={"index": "original_index"})
First['period'] = 1
First['city'] = 'GRONINGEN'
Second = Second.reset_index()
Second = Second.rename(index=str, columns={"index": "original_index"})
Second['period'] = 2
Second['city'] = 'GRONINGEN'
Third = Third.reset_index()
Third = Third.rename(index=str, columns={"index": "original_index"})
Third['period'] = 3
Third['city'] = 'GRONINGEN'
Fourth = Fourth.reset_index()
Fourth = Fourth.rename(index=str, columns={"index": "original_index"})
Fourth['period'] = 4
Fourth['city'] = 'GRONINGEN'
Enexis1 = pd.concat([First,Second,Third, Fourth])

In [136]:
Enexis1.describe()

       original_index         delta        period
count    12001.000000  12001.000000  12001.000000
mean      1982.405633     22.321044      2.500125
std       1143.865463   4240.467041      1.118118
min          0.000000 -48962.000000      1.000000
25%        993.000000  -1032.000000      2.000000
50%       1983.000000   -141.270000      3.000000
75%       2961.000000    866.000000      4.000000
max       4000.000000  39705.050000      4.000000

In [137]:
df1 = pd.read_csv("../dutch-energy/Electricity/enexis_electricity_01012010.csv")
df1['year'] = '2010'
df2 = pd.read_csv("../dutch-energy/Electricity/enexis_electricity_01012012.csv")
df2['year'] = '2012'
df3 = pd.read_csv("../dutch-energy/Electricity/enexis_electricity_01012015.csv")
df3['year'] = '2015'
df4 = pd.read_csv("../dutch-energy/Electricity/enexis_electricity_01012018.csv")
df4['year'] = '2018'
df = pd.concat([df1,df2,df3,df4])

In [138]:
Ten = df.loc[(df['city']=='TILBURG')&(df['year']=='2010'),'annual_consume']
Twelve = df.loc[(df['city']=='TILBURG')&(df['year']=='2012'),'annual_consume']
Fifteen = df.loc[(df['city']=='TILBURG')&(df['year']=='2015'), 'annual_consume']
Eighteen = df.loc[(df['city']=='TILBURG')&(df['year']=='2018'), 'annual_consume']

Ten = Ten.reset_index(drop=True)
Twelve = Twelve.reset_index(drop=True)
Fifteen = Fifteen.reset_index(drop=True)
Eighteen = Eighteen.reset_index(drop=True)

In [139]:
Ten.describe()

count     3351.000000
mean      4324.253954
std       3483.031059
min       1055.000000
25%       2864.000000
50%       3581.000000
75%       4509.500000
max      50339.000000
Name: annual_consume, dtype: float64

In [140]:
First = pd.DataFrame()
for n in range(3000):
    i = random.randint(1, 3000)
    diff = pd.DataFrame({'delta':Eighteen[i] - Ten[i]}, index=[i])
    First = pd.concat([First, diff])    
Second = pd.DataFrame()
for n in range(3000):
    i = random.randint(0, 3000)
    diff = pd.DataFrame({'delta':Twelve[i] - Ten[i]}, index=[i])
    Second = pd.concat([Second, diff])
Third = pd.DataFrame()
for n in range(3000):
    i = random.randint(0, 3000)
    diff = pd.DataFrame({'delta':Fifteen[i] - Twelve[i]}, index=[i])
    Third = pd.concat([Third, diff])  
Fourth = pd.DataFrame()
for n in range(3000):
    i = random.randint(0, 3000)
    diff = pd.DataFrame({'delta':Eighteen[i] - Fifteen[i]}, index=[i])
    Fourth = pd.concat([Third, diff])

In [141]:
First = First.reset_index()
First = First.rename(index=str, columns={"index": "original_index"})
First['period'] = 1
First['city'] = 'TILBURG'
Second = Second.reset_index()
Second = Second.rename(index=str, columns={"index": "original_index"})
Second['period'] = 2
Second['city'] = 'TILBURG'
Third = Third.reset_index()
Third = Third.rename(index=str, columns={"index": "original_index"})
Third['period'] = 3
Third['city'] = 'TILBURG'
Fourth = Fourth.reset_index()
Fourth = Fourth.rename(index=str, columns={"index": "original_index"})
Fourth['period'] = 4
Fourth['city'] = 'TILBURG'
Enexis2 = pd.concat([First,Second,Third, Fourth])

In [142]:
Fourth.head()

   original_index   delta  period     city
0             905    70.0       4  TILBURG
1             241   557.0       4  TILBURG
2             601  1933.0       4  TILBURG
3             621  -681.0       4  TILBURG
4             939   -42.0       4  TILBURG

In [143]:
Enexis2.describe()

       original_index         delta        period
count    12001.000000  12001.000000  12001.000000
mean      1486.442963   -150.335190      2.500125
std        869.518565   5070.694697      1.118118
min          0.000000 -47509.500000      1.000000
25%        727.000000  -1311.450000      2.000000
50%       1466.000000   -211.000000      3.000000
75%       2243.000000    834.000000      4.000000
max       3000.000000  56966.210000      4.000000

In [144]:
Enexis = pd.concat([Enexis1, Enexis2])

In [145]:
Enexis.head()

   original_index    delta  period       city
0            2926  -888.07       1  GRONINGEN
1             787 -1060.82       1  GRONINGEN
2            3555  1213.69       1  GRONINGEN
3             181   161.72       1  GRONINGEN
4            1910   308.67       1  GRONINGEN

In [146]:
Enexis.to_csv('../EnexisEnergy.csv', encoding='utf-8', index=False)

In [147]:
Enexis.describe()

       original_index         delta        period
count    24002.000000  24002.000000  24002.000000
mean      1734.424298    -64.007073      2.500125
std       1045.800967   4674.750831      1.118095
min          0.000000 -48962.000000      1.000000
25%        840.000000  -1188.000000      2.000000
50%       1697.000000   -172.180000      3.000000
75%       2545.750000    843.000000      4.000000
max       4000.000000  56966.210000      4.000000