In [131]:
import pandas as pd
import matplotlib.pyplot as plt
import random
import numpy as np

In [132]:
df1 = pd.read_csv("../dutch-energy/Electricity/stedin_electricity_2010.csv")
df1['year'] = '2010'
df2 = pd.read_csv("../dutch-energy/Electricity/stedin_electricity_2012.csv")
df2['year'] = '2012'
df3 = pd.read_csv("../dutch-energy/Electricity/stedin_electricity_2015.csv")
df3['year'] = '2015'
df4 = pd.read_csv("../dutch-energy/Electricity/stedin_electricity_2018.csv")
df4['year'] = '2018'
df = pd.concat([df1,df2,df3,df4])

In [133]:
Ten = df.loc[(df['city']=='ROTTERDAM')&(df['year']=='2010'),'annual_consume']
Twelve = df.loc[(df['city']=='ROTTERDAM')&(df['year']=='2012'),'annual_consume']
Fifteen = df.loc[(df['city']=='ROTTERDAM')&(df['year']=='2015'), 'annual_consume']
Eighteen = df.loc[(df['city']=='ROTTERDAM')&(df['year']=='2018'), 'annual_consume']

Ten = Ten.reset_index(drop=True)
Twelve = Twelve.reset_index(drop=True)
Fifteen = Fifteen.reset_index(drop=True)
Eighteen = Eighteen.reset_index(drop=True)

In [134]:
Eighteen.describe()

count     10495.000000
mean       3458.231729
std        3258.553601
min           0.000000
25%        2060.000000
50%        2590.000000
75%        3555.000000
max      110857.000000
Name: annual_consume, dtype: float64

In [135]:
First = pd.DataFrame()
for n in range(3000):
    i = random.randint(1, 10000)
    diff = pd.DataFrame({'delta':Eighteen[i] - Ten[i]}, index=[i])
    First = pd.concat([First, diff])    
Second = pd.DataFrame()
for n in range(3000):
    i = random.randint(0, 10000)
    diff = pd.DataFrame({'delta':Twelve[i] - Ten[i]}, index=[i])
    Second = pd.concat([Second, diff])
Third = pd.DataFrame()
for n in range(3000):
    i = random.randint(0, 10000)
    diff = pd.DataFrame({'delta':Fifteen[i] - Twelve[i]}, index=[i])
    Third = pd.concat([Third, diff])  
Fourth = pd.DataFrame()
for n in range(3000):
    i = random.randint(0, 10000)
    diff = pd.DataFrame({'delta':Eighteen[i] - Fifteen[i]}, index=[i])
    Fourth = pd.concat([Third, diff])

In [136]:
First = First.reset_index()
First = First.rename(index=str, columns={"index": "original_index"})
First['period'] = 1
First['city'] = 'ROTTERDAM'
Second = Second.reset_index()
Second = Second.rename(index=str, columns={"index": "original_index"})
Second['period'] = 2
Second['city'] = 'ROTTERDAM'
Third = Third.reset_index()
Third = Third.rename(index=str, columns={"index": "original_index"})
Third['period'] = 3
Third['city'] = 'ROTTERDAM'
Fourth = Fourth.reset_index()
Fourth = Fourth.rename(index=str, columns={"index": "original_index"})
Fourth['period'] = 4
Fourth['city'] = 'ROTTERDAM'
Stedin1 = pd.concat([First,Second,Third, Fourth])

In [137]:
Stedin1.describe()

       original_index         delta        period
count    12001.000000  12001.000000  12001.000000
mean      4975.657362   -128.090909      2.500125
std       2888.731637   4089.185983      1.118118
min          1.000000 -39909.000000      1.000000
25%       2475.000000  -1073.000000      2.000000
50%       4968.000000    -81.000000      3.000000
75%       7463.000000    886.000000      4.000000
max       9997.000000  36543.000000      4.000000

In [138]:
df1 = pd.read_csv("../dutch-energy/Electricity/stedin_electricity_2010.csv")
df1['year'] = '2010'
df2 = pd.read_csv("../dutch-energy/Electricity/stedin_electricity_2012.csv")
df2['year'] = '2012'
df3 = pd.read_csv("../dutch-energy/Electricity/stedin_electricity_2015.csv")
df3['year'] = '2015'
df4 = pd.read_csv("../dutch-energy/Electricity/stedin_electricity_2018.csv")
df4['year'] = '2018'
df = pd.concat([df1,df2,df3,df4])

In [139]:
Ten = df.loc[(df['city']=='UTRECHT')&(df['year']=='2010'),'annual_consume']
Twelve = df.loc[(df['city']=='UTRECHT')&(df['year']=='2012'),'annual_consume']
Fifteen = df.loc[(df['city']=='UTRECHT')&(df['year']=='2015'), 'annual_consume']
Eighteen = df.loc[(df['city']=='UTRECHT')&(df['year']=='2018'), 'annual_consume']

Ten = Ten.reset_index(drop=True)
Twelve = Twelve.reset_index(drop=True)
Fifteen = Fifteen.reset_index(drop=True)
Eighteen = Eighteen.reset_index(drop=True)

In [140]:
Fifteen.describe()

count     5868.000000
mean      3799.087253
std       3600.317175
min        470.000000
25%       2207.000000
50%       2832.000000
75%       3886.500000
max      57275.000000
Name: annual_consume, dtype: float64

In [141]:
First = pd.DataFrame()
for n in range(3000):
    i = random.randint(1, 5500)
    diff = pd.DataFrame({'delta':Eighteen[i] - Ten[i]}, index=[i])
    First = pd.concat([First, diff])    
Second = pd.DataFrame()
for n in range(3000):
    i = random.randint(0, 5500)
    diff = pd.DataFrame({'delta':Twelve[i] - Ten[i]}, index=[i])
    Second = pd.concat([Second, diff])
Third = pd.DataFrame()
for n in range(3000):
    i = random.randint(0, 5500)
    diff = pd.DataFrame({'delta':Fifteen[i] - Twelve[i]}, index=[i])
    Third = pd.concat([Third, diff])  
Fourth = pd.DataFrame()
for n in range(3000):
    i = random.randint(0, 5500)
    diff = pd.DataFrame({'delta':Eighteen[i] - Fifteen[i]}, index=[i])
    Fourth = pd.concat([Third, diff])

In [142]:
First = First.reset_index()
First = First.rename(index=str, columns={"index": "original_index"})
First['period'] = 1
First['city'] = 'UTRECHT'
Second = Second.reset_index()
Second = Second.rename(index=str, columns={"index": "original_index"})
Second['period'] = 2
Second['city'] = 'UTRECHT'
Third = Third.reset_index()
Third = Third.rename(index=str, columns={"index": "original_index"})
Third['period'] = 3
Third['city'] = 'UTRECHT'
Fourth = Fourth.reset_index()
Fourth = Fourth.rename(index=str, columns={"index": "original_index"})
Fourth['period'] = 4
Fourth['city'] = 'UTRECHT'
Stedin2 = pd.concat([First,Second,Third, Fourth])

In [143]:
Stedin = pd.concat([Stedin1, Stedin2])

In [144]:
Stedin.describe()

       original_index         delta        period
count    24002.000000  24002.000000  24002.000000
mean      3862.361470    -91.199942      2.500125
std       2581.741057   4436.832379      1.118095
min          0.000000 -47161.000000      1.000000
25%       1779.250000  -1089.000000      2.000000
50%       3521.500000    -87.000000      3.000000
75%       5323.000000    898.750000      4.000000
max       9997.000000  47290.000000      4.000000

In [145]:
Stedin.to_csv('../StedinEnergy.csv',encoding='utf-8', index=False)